<li>
	<a href="{{ path('department_show', { 'slug': department.slug }) }}">
	    {{ department.name }}
	</a>
		
	{% if department.children is defined and department.children|length > 0 %}
		<ul >
    	{% for child in department.children|sort((a,b) => a.name <=> b.name) %}
    	    {{ include('partials/department_tree.html.twig', { 'department': child }) }}
    	{% endfor %}
    	</ul>
	{% endif %}
</li>
