<header class="main-navigation">
	<nav>
		<p class="logo-wrapper"><a href="https://www.hcpss.org/"><img class="hcpss-logo" src="https://www.hcpss.org/f/mrb/blue-flame.png" alt=""> HCPSS</a><span style="font-weight:600;"> <span style="color:#9eb4dd;">/</span> <a href="https://directory.hcpss.org/">DIRECTORY</a></span></p>
		<ul id="main-menu-list" class="primary-menu">
  			<li><a href="https://www.hcpss.org/search/"><i class="fa fa-search" aria-hidden="true"></i> <span>Search</span></a></li>
		</ul>
	</nav>
</header>
